{%- comment -%}
  In order to avoid showing "success" message when we post comments
  with invalid format (eg. blank fields), we added logic to make sure it doesn't show.

  Comment help page:
  http://docs.shopify.com/themes/liquid-variables/comment
{%- endcomment -%}

{%- assign new_comment = false -%}
{%- assign number_of_comments = article.comments_count -%}

{%- if comment and comment.created_at -%}
  {%- assign new_comment = true -%}
  {%- assign new_comment_id = comment.id -%}
{%- endif -%}

{%- if new_comment -%}
  {%- comment -%}
    When you refresh the page with submitted comment, the comment is duplicated
    so we added a flag to avoid this situation.
  {%- endcomment -%}
  {%- assign duplicate_comment = false -%}
  {%- for comment in article.comments -%}
    {%- if comment.id == new_comment_id -%}
      {%- assign duplicate_comment = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endfor -%}

  {%- unless duplicate_comment -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
  {%- endunless -%}
{%- endif -%}

{% assign hImage = article.metafields.global.hero_image %}
{% if article.metafields.global.feature_image == null %}
  {% assign fImage =  article.image.src | img_url: '700x' %}
{% else %}
  {% assign fImage =  article.image.src | img_url: '700x' %}
  {% comment %}
  {% assign fImage =  article.metafields.global.feature_image | file_img_url: '500x' %}
  {% endcomment %}
{% endif %}

{% if article.metafields.global.author != null %}
  {% assign aAuthor =  article.metafields.global.author %}
{% else %}
  {% assign aAuthor =  article.author  %}
{% endif %}

<div class="l-page--recipe">
<article class="l-page__article" role="article">
  <header class="l-page__header--article l-page__header--{{ article.title | handle }} {{ classHeroImage }} {{ classHeroText }}" role="banner">


    <div class="c-image-layer">
      <div class="c-image-layer__background">
        {% include 'ac-blobs' %}
      </div>
      <div class="c-image-layer__content">
        <div class="l-main__content-block-wrapper">
          <div class="l-page__grid-wrapper--header-recipe">


    {% if article.image %}
      <div class="l-page__feature-image--article">
        <img class="l-page__img" src="{{  article.image | img_url: 'original' }}"  alt="{{article.title | escape }}" />
      </div>
    {% else %}
      <!-- no article image -->
    {% endif %}

    <h1 class="l-page__heading--article l-page__heading--{{ article.title | handle }}" >
      <span class="l-page__title">{{ article.title }}</span>
    </h1>

    <div class="l-page__meta">
    <span class="l-page__meta-text--author">
      {{ 'blogs.article.by_author' | t: author: aAuthor }}
    </span>
      <span class="l-page____meta-text--date">
      {{ article.published_at | time_tag: format: 'month_day_year' }}
    </span>
    </div>

    {% if article.content %}
      <div class="l-page__hero--article">
        <div class="l-page__hero-text--article">
          {{ article.content }}
        </div>
      </div>

    {% else %}
      <!-- no page hero text {{ pageHeroText }} ! -->
    {% endif %}

    {% if pageHeroImage %}
      <div class="l-page__hero-image">
        {% include 'responsive-image' with
          image: pageHeroImage,
          max_width: 800,
          max_height: 800
        %}
      </div>
    {% else %}
      <!-- no page hero image {{ pageHeroImage }} ! -->
    {% endif %}

          </div>
          </div><!-- .l-main__content-block-wrapper -->
        </div><!-- .c-image-layer__content -->
      </div><!-- .c-image-layer__content -->
  </header>


  <div class="l-page__content--recipe">
    {% if  article.content != blank %}
      <div class="rte">
        {{ article.content }}
      </div>
    {% endif %}
  </div>
  <div class="l-page__recipe">

    <div class="c-image-layer">
      <div class="c-image-layer__background">
        {% include 'ac-blobs' %}
      </div>
      <div class="c-image-layer__content">

    <div class="c-recipe">
      {% if  article.metafields.global['ingredient_1'] %}
      <div data-container="recipeTabIng" data-state="on" data-state-group="recipeTabs"  class="c-recipe__tab--ingredients">
        <div data-control="recipeTabIng" data-state-group="recipeTabs" data-state="on" class="c-recipe__tab-title--ingredients">
          <h4 class="c-recipe__heading--ingredients">Ingredients</h4>
        </div>
        <div data-container="recipeTabIng" data-state="on" data-state-group="recipeTabs" class="c-recipe__tab-content--ingredients">
          <ul class="c-recipe__list--ingredients">
            {%  for i in (1..50) %}
              {% assign ingredientId = 'ingredient_' | append : i %}
              {% assign ingredient = article.metafields.global[ingredientId] %}
              {% if ingredient != null %}
                <li class="c-recipe__item--ingredients">{{ingredient}}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}
      {% if article.metafields.global['method_1'] %}
      <div data-container="recipeTabMeth" data-state="off" data-state-group="recipeTabs" class="c-recipe__tab--method">
        <div data-control="recipeTabMeth" data-state-group="recipeTabs" data-state="off"  class="c-recipe__tab-title--method">
          <h4 class="c-recipe__heading--method">Method</h4>
        </div>
        <div data-container="recipeTabMeth" data-state="off" data-state-group="recipeTabs" class="c-recipe__tab-content--method">
          <ol class="c-recipe__list--method">
            {%  for i in (1..50) %}
              {% assign methodId = 'method_' | append : i %}
              {% assign method = article.metafields.global[methodId] %}
              {% if method != null %}
                <li class="c-recipe__item--method">{{method}}</li>
              {% endif %}
            {% endfor %}
          </ol>
        </div>
      </div>
      {% endif %}
    </div>

    </div><!-- .c-image-layer__content -->
  </div><!-- .c-image-layer -->

  </div>

  <div class="c-recipe__gallery">
    {%  for i in (1..4) %}
      {% assign galleryId = 'gallery_' | append : i %}
      {% assign gallery = article.metafields.global[galleryId] %}
      {% if forloop.index == 2%}

      <div class="c-recipe__gallery-item--method">
        <div class="c-recipe__wrapper">
        <h4 class="c-recipe__heading--method">Method</h4>
        <ol class="c-recipe__list--method">
          {%  for i in (1..50) %}
            {% assign methodId = 'method_' | append : i %}
            {% assign method = article.metafields.global[methodId] %}
            {% if method != null %}
              <li class="c-recipe__item--method">{{method}}</li>
            {% endif %}
          {% endfor %}
        </ol>
        </div>
      </div>
      {% endif %}

      {% if gallery != null %}
        <div class="c-recipe__gallery-item">
          <div class="c-recipe__gallery-image">
            <img src="{{ article.metafields.global[galleryId] | file_img_url: '500x' }}" alt="article.metafields.global[galleryId]" class="c-recipe__gallery-img">
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </div>

  <div class="c-recipe__footer">
    <p>Tag us @bibado<br> if you try this!</p>
    <div class="c-recipe__social-sharing">
        {% include 'ac-social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
    </div>
  </div>

{% comment %}
  {% if article.tags.size > 0 %}
    <ul>
      {% for tag in article.tags %}
        <li>
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if settings.social_sharing_blog %}
    {% include 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
  {% endif %}

  {% if blog.comments_enabled? %}
    <h3>{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h3>

    {% paginate article.comments by 5 %}

    <div id="comments">
      {% if comment and comment.status and comment.id != blank and paginate.current_page == 1 %}
        <p class="form-success">
          {% if blog.moderated? and comment.status != 'published' %}
            {{ 'blogs.comments.success_moderated' | t }}
          {% else %}
            {{ 'blogs.comments.success' | t }}
          {% endif %}
        </p>
      {% endif %}

      {% if number_of_comments > 0 %}
        <ul>
          {% comment %}
            Display comment from URL parameters if it is waiting moderation
            We added "comment.id" check to make sure we don't display markup if there are form errors
          {% endcomment %}
          {% if comment and comment.status != 'published' and comment.id != blank %}
            <li id="{{ comment.id }}">
              <div class="rte">
                {{ comment.content }}
              </div>
              {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
              <p>{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
            </li>
          {% endif %}

          {% for comment in article.comments %}
            <li id="{{ comment.id }}">
              <div class="rte">
                {{ comment.content }}
              </div>
              {% capture date %}{{ comment.created_at | time_tag: format: 'month_day_year' }}{% endcapture %}
              <p>{{ 'blogs.article.comment_meta_html' | t: author: comment.author, date: date }}</p>
            </li>
          {% endfor %}
        </ul>

        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      {% endif %}
    </div>

    {% endpaginate %}

    {% form 'new_comment', article %}
      <h3>{{ 'blogs.comments.title' | t }}</h3>

      {{ form.errors | default_errors }}

      <label for="CommentAuthor" class="label-hidden">
        {{ 'blogs.comments.name' | t }}
      </label>
      <input type="text"
             name="comment[author]"
             id="CommentAuthor"
             class="{% if form.errors contains 'author' %}input-error{% endif %}"
             placeholder="{{ 'blogs.comments.name' | t }}"
             value="{{ form.author }}"
             autocapitalize="words">

      <label for="CommentEmail" class="label-hidden">
        {{ 'blogs.comments.email' | t }}
      </label>
      <input type="email"
             name="comment[email]"
             id="CommentEmail"
             class="{% if form.errors contains 'email' %}input-error{% endif %}"
             placeholder="{{ 'blogs.comments.email' | t }}"
             value="{{ form.email }}"
             spellcheck="false"
             autocomplete="off"
             autocapitalize="off">

      <label for="CommentBody" class="label-hidden">
        {{ 'blogs.comments.message' | t }}
      </label>
      <textarea
        name="comment[body]"
        id="CommentBody"
        class="{% if form.errors contains 'body' %}input-error{% endif %}"
        placeholder="{{ 'blogs.comments.message' | t }}">
        {{- form.body -}}
      </textarea>

      {% if blog.moderated? %}
        <p>{{ 'blogs.comments.moderated' | t }}</p>
      {% endif %}

      <input type="submit" class="button" value="{{ 'blogs.comments.post' | t }}">
    {% endform %}

  {% endif %}
{% endcomment %}
</article>
</div>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Article",
  "articleBody": "{{ article.content | strip_html }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ shop.url }}{{ page.url }}"
  },
  "headline": "{{ article.title }}",
  {% if article.excerpt != blank %}
    "description": "{{ article.excerpt | strip_html }}",
  {% endif %}
  {% if article.image %}
    {% assign image_size = article.image.width | append: 'x' %}
    "image": [
      "https:{{ article | img_url: image_size }}"
    ],
  {% endif %}
  "datePublished": "{{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
  "publisher": {
    "@type": "Organization",
    {% if settings.share_image %}
      {% assign image_size = settings.share_image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ settings.share_image.height }}",
        "url": "https:{{ settings.share_image | img_url: image_size }}",
        "width": "{{ settings.share_image.width }}"
      },
    {% elsif article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "logo": {
        "@type": "ImageObject",
        "height": "{{ article.image.height }}",
        "url": "https:{{ article.image | img_url: image_size }}",
        "width": "{{ article.image.width }}"
      },
    {% endif %}
    "name": "{{ shop.name }}"
  }
}
</script>
