{% paginate collection.products by 12 %}
  <div class="l-main__page--collection">
    <div class="l-page--collection">


  <header class="l-page__header" role="banner">

   {% if collection.image.src %}
     <div class="l-page__feature-image">
      <img class="l-page__img" src="{{ collection.image.src | collection_img_url: 'large' }}"  alt="{{ collection.title | escape }}" />
    </div>
    {% else %}
      <!-- no collection image -->
    {% endif %}

    <h1 class="l-page__heading" >
      <span class="l-page__title">{{ collection.title }}</span>
    </h1>

    <div class="l-page__tag-list">
    {% include 'ac-tag-list' %}
    </div>

  </header>
      {% if collection.description != blank %}
      <div class="l-page__content">
          <div class="rte">
            {{ collection.description }}
          </div>
      </div>
      {% endif %}
  <div class="l-page__product-list">
    <div class="l-product-list">

      <div class="l-product-list__list">
    {% for product in collection.products %}
      {% if forloop.first == true %}
        <!-- forloop.index {{ forloop.index }} - forloop.first -->
        <div class="l-product-list__item--first">
          {% include 'ac-forloop-2' %}
        </div>
      {% else %}
        <!-- forloop.index {{ forloop.index }} -->
      {% endif %}
      <div class="l-product-list__item testforloop">
        <div class="l-product-list__product-thumb">
        {% include 'ac-product-thumb' %}
        </div>
      </div>
      {% if forloop.last == true %}
        <!-- forloop.index {{ forloop.index }} - forloop.last -->
        <div class="l-product-list__item--last">
          {% include 'ac-forloop-4' %}
        </div>
        {% else %}
          <!-- forloop.index {{ forloop.index }} -->
      {% endif %}

    {% endfor %}
      </div>
    </div>
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
    </div>
  </div>
{% endpaginate %}
