{% paginate collection.products by 12 %}
  <div class="l-main__page--collection">
    <div class="l-page--collection">
      {% if collection.image.src %}
        <div class="l-page__feature-image--collection">
          {% include 'responsive-image' with
            image: collection.image,
            max_width: 800,
            max_height: 1000
          %}


          <div class="l-page__icon--scroll-collection" data-js-scroll-down >
            {% include 'icon-bbd-scroll' %}
          </div>
        </div>
      {% else %}
        <!-- no collection image -->
      {% endif %}
      <div class="l-page__collection-intro">
      <header class="l-page__header--collection" role="banner">



    <h1 class="l-page__heading" >
      <span class="l-page__title">{{ collection.title }}</span>
    </h1>

    <div class="l-page__tag-list">
    {% include 'ac-tag-list' %}
    </div>

  </header>

      {% if collection.description != blank %}
      <div class="l-page__content--collection">
          <div class="rte">
            {{ collection.description }}
          </div>
      </div>
      {% endif %}
      </div>

      <div class="l-page__icon-list--collection">
        {% include 'ac-icon-list-loop-collection' %}
      </div>
  <div class="l-page__product-list">
    <div class="l-product-list">

      <div class="l-product-list__list">
    {% for product in collection.products %}
      {% comment %}
      {% if forloop.first == true %}
        <!-- forloop.index {{ forloop.index }} - forloop.first -->
        <div class="l-product-list__item--first">
          {% include 'ac-forloop-2' %}
        </div>
      {% else %}
        <!-- forloop.index {{ forloop.index }} -->
      {% endif %}
      {% endcomment %}
      <div class="l-product-list__item is-product-id-{{ product.id }} u-bgc-{{ product.metafields.global.background }}">
        <div class="l-product-list__product-thumb">
        {% include 'ac-product-thumb' %}
        </div>
      </div>
      {% if forloop.last == true %}
        <!-- forloop.index {{ forloop.index }} - forloop.last -->
        <div class="l-product-list__item--last">
          {% include 'ac-forloop-4' %}
        </div>
        {% else %}
          <!-- forloop.index {{ forloop.index }} -->
      {% endif %}

    {% endfor %}
      </div>
    </div>
  </div>

  {% if paginate.pages > 1 %}
    {% include 'pagination' %}
  {% endif %}
    </div>
  </div>
{% endpaginate %}
