{% assign pageImage = page.metafields.global.feature_image %}
{% assign pageHeroText = page.metafields.global.hero_text %}
<div class="l-main__page--static-page">
  <div class="l-page--static-page">

    <header class="l-page__header" role="banner">

      {% if pageImage %}
        <div class="l-page__feature-image">
          <img class="l-page__img" src="{{ pageImage | file_img_url: 'original' }}"  alt="{{ page.title | escape }}" />
        </div>
      {% else %}
        <!-- no page image -->
      {% endif %}


      <h1 class="l-page__heading--static-page" >
        <span class="l-page__title">{{ page.title }}</span>
      </h1>

      {% if pageHeroText %}
      <div class="l-page__hero">
        <div class="l-page__hero-text">
          {{ pageHeroText }}
        </div>
      </div>
      {% else %}
        <!-- no page hero text {{ pageHeroText }} ! -->
      {% endif %}

    </header>

    <div class="l-page__content--static-page">
      {% if page.content != blank %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}
    </div>
  </div>
</div>
