{% assign pageImage = page.metafields.global.feature_image %}
{% assign pageHeroImage = images[page.metafields.global.hero_image] %}
{% assign pageHeroText = page.metafields.global.hero_text %}

{% if pageHeroImage %}
  {% assign classHeroImage = 'has-hero-image' %}
{% endif %}
{% if pageHeroText %}
  {% assign classHeroText = 'has-hero-text' %}
{% endif %}

<div class="l-main__page--static-page">
  <div class="l-page--static-page">
    <header class="l-page__header--static-page l-page__header--{{ page.title | handle }} {{ classHeroImage }} {{ classHeroText }}" role="banner">
      <div class="c-image-layer">
        <div class="c-image-layer__background">
          {% include 'ac-blobs' %}
        </div>
        <div class="c-image-layer__content">
          <div class="l-main__content-block-wrapper">
            <div class="l-page__grid-wrapper--header-static-page">
              {% if pageImage %}
                <div class="l-page__feature-image">
                  <img class="l-page__img" src="{{ pageImage | file_img_url: 'original' }}"  alt="{{ page.title | escape }}" />
                </div>
              {% else %}
                <!-- no page image -->
              {% endif %}


              <h1 class="l-page__heading--static-page l-page__heading--{{ page.title | handle }}" >
                <span class="l-page__title">{{ page.title }}</span>
              </h1>

              {% if pageHeroText %}
                <div class="l-page__hero--static-page">
                  <div class="l-page__hero-text">
                    {{ pageHeroText }}
                  </div>
                </div>

              {% else %}
                <!-- no page hero text {{ pageHeroText }} ! -->
              {% endif %}
              {% if pageHeroImage %}
                <div class="l-page__hero-image">
                  {% include 'responsive-image' with
                    image: pageHeroImage,
                    max_width: 800,
                    max_height: 800
                  %}
                </div>
              {% else %}
                <!-- no page hero image {{ pageHeroImage }} ! -->
              {% endif %}
            </div>
          </div><!-- .l-main__content-block-wrapper -->
        </div><!-- .c-image-layer__content -->
      </div><!-- .c-image-layer__content -->
    </header>

    <div class="l-page__content--static-page l-page__content--faqs-page">
      {% if page.content != blank %}
        <div class="rte">
          {{ page.content }}
        </div>
      {% endif %}
<div class="l-page__qanda-list">
  <div class="c-qanda-list">
    <ul class="c-qanda-list__list">
      {%  for i in (1..50) %}
        {% assign questionId = 'question' | append : i %}
        {% assign question = page.metafields.faq[questionId] %}
        {% assign answerId = 'answer' | append : i %}
        {% assign answer = page.metafields.faq[answerId] %}
        {% if question != null %}
          <li id="question{{ forloop.index }}" class="c-qanda-list__item">
            <div class="c-qanda-list__question" data-control="{{ questionId }}" data-state="off">
              <div class="c-qanda-list__question-text">{{ question }}</div>
              <div class="c-qanda-list__question-control" >{% include 'icon-bbd-open-arrow' %}</div>
            </div>
            <div  class="c-qanda-list__answer" data-container="{{ questionId }}" data-state="off" >{{ answer }}</div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

    </div>
  </div>
</div>
