{% paginate search.results by 10 %}
<div class="l-main__page--search">
  <div class="l-page--search">
    <header class="l-page__header--search" role="banner">
      <h1 class="l-page__heading--search" >
      <span class="l-page__title" class="visually-hidden">{{ 'Search'  }}</span>
      </h1>
      <h2 class="l-page__sub-heading">
        <span class="l-page__title-search-results">{{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}</span>
      </h2>
    </header>

    <div id="searchFormSearchPage" class="l-page__site-search-form" data-state="on" data-container="siteSearch" >
      {% include 'ac-site-search-form' %}
    </div><!-- site-controls__search -->


  {% if search.performed %}
    {% if search.results_count == 0 %}
      <p>{{ 'general.search.no_results_html' | t: terms: search.terms }}</p>
    {% else %}
    <div class="l-product-list--search">
      <h2 class="l-product-list__heading visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
      <ul class="l-product-list__list--search">
        {% for product in search.results %}
          <li class="l-product-list__item--search">
            {% assign modClass = '--search-result' %}
            <!-- modclass {{ modClass }} search.liquid -->
            {% include 'ac-product-thumb' %}
          </li>
        {% endfor %}
      </ul>

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    {% endif %}
  {% endif %}
  </div>
</div>
{% endpaginate %}
