<!-- ac-block-loop -->
{% if sObj == null %}
  <!-- sObj == null -->
  {% assign sObj = article %}
  {% else %}
    <!-- sObj != null -->
    {% assign sObj = sObj %}
{% endif %}

{% for i in (1..10) %}
   {% capture namespace %}block{{ i }}{% endcapture %}



   {% case sObj.metafields[namespace]['layout_image']  %}
   {% when 'center' %}
   {% assign classImagePos = "is-image-center" %}
   {% when 'right' %}
   {% assign classImagePos = "is-image-right" %}
   {% when 'left' %}
   {% assign classImagePos = "is-image-left" %}
   {% when'none' %}
   {% assign classImagePos = "is-image-none" %}
     {% else %}
   {% assign classImagePos = '' %}
   {% endcase %}

   {% case sObj.metafields[namespace]['size_image']  %}
   {% when '50' %}
   {% assign classImageSize = "is-image-size-50" %}
   {% when '30' %}
   {% assign classImageSize = "is-image-size-30" %}

     {% else %}
   {% assign classImageSize = "is-image-size-none" %}
   {% endcase %}

   {% if  sObj.metafields[namespace]['text'] %}
     {% assign blockText = sObj.metafields[namespace]['text'] %}
   {% else %}
     {% assign blockText = null %}
   {% endif %}

  {% if  sObj.metafields[namespace]['block_layout'] %}
    {% assign blockLayout = sObj.metafields[namespace]['block_layout'] %}
  {% else %}
    {% assign blockLayout = null %}
  {% endif %}

  {% if  sObj.metafields[namespace]['title'] %}
    {% assign blockHeading = sObj.metafields[namespace]['title'] %}
  {% else %}
    {% assign blockHeading = null %}
  {% endif %}

{% if  sObj.metafields[namespace]['text_heading'] %}
  {% assign blockTitle = sObj.metafields[namespace]['text_heading'] %}
{% else %}
  {% assign blockTitle = null %}
{% endif %}

  {% if  sObj.metafields[namespace]['text_heading'] %}
    {% assign blockTextTitle = sObj.metafields[namespace]['text_heading'] %}
  {% else %}
    {% assign blockTextTitle = null %}
  {% endif %}

{% if sObj.metafields[namespace]['block_colour'] %}
{% assign classBgColor = sObj.metafields[namespace]['block_colour']  %}
{% else %}
  {% assign classBgColor = null  %}
{% endif %}

{% if sObj.metafields[namespace]['text_colour'] %}
  {% assign classTextColor = sObj.metafields[namespace]['text_colour']  %}
{% else %}
  {% assign classTextColor = null  %}
{% endif %}


    {% if sObj.metafields[namespace]['heading_colour'] %}
    {% assign classHeadingColor = sObj.metafields[namespace]['heading_colour']  %}
{% else %}
  {% assign classHeadingColor = null  %}
{% endif %}

   {% if  sObj.metafields[namespace]['image'] %}
     {% assign blockImage = sObj.metafields[namespace]['image'] %}
     {% assign blockImageUrl = blockImage | file_img_url: '800x' %}
   {% else %}
     {% assign blockImage = null %}
     {% assign blockImageUrl = null %}
   {% endif %}

{% if  sObj.metafields[namespace]['block_type'] %}
  {% assign blockType = sObj.metafields[namespace]['block_type'] %}
{% else %}
  {% assign blockType = 'text' %}
{% endif %}

{% if sObj.metafields[namespace]['image'] or sObj.metafields[namespace]['text'] or sObj.metafields[namespace]['block_type'] %}

<!-- block - {{ namespace }} -->
<div data-namespace="{{ namespace }}" class="l-page__flex-block{{ modClass }}  is-layout-{{ blockLayout }} {{ classImagePos }} {{  classImageSize }} u-bgc-{{ classBgColor }}">
  <div class="l-flex-block l-flex-block--{{ blockHeading | handle }} {{ classImagePos }} {{  classImageSize }} ">

    {% if blockHeading %}
      <header class="l-flex-block__header{{ modClass }}">
        <h3 class="l-flex-block__heading{{ modClass }} u-col-{{ classHeadingColor }} ">
          {{ blockHeading }}
        </h3>
      </header>
    {% else %}
      <!-- no blockTitle -->
    {% endif %}

    {% if blockImage %}
      <div class="l-flex-block__item--image">
        {% include 'responsive-image' with
          image: images[blockImage],
          max_width: 700,
          max_height: 700
        %}
      </div>
    {% endif %}

    {% if blockType == 'text' %}
      <!-- type text blockType = {{ blockType }} -->
    {% if blockText or blockTitle  %}
      {% include 'ac-flex-block-item-text' %}
    {% endif %}

      {% elsif blockType contains 'feature_list'%}

      <!-- contains list blockType = {{ blockType }} -->


      {% include 'ac-flex-block-item-list' %}

      {% elsif blockType contains 'team_list' %}

      <!-- contains list blockType = {{ blockType }} -->

      {% include 'ac-flex-block-item-team-list' %}

      {% else %}

        <!-- else blockType = {{ blockType }} -->

    {% endif %}
  </div>
</div>
  {% endif %}

  {% endfor %}
