{% for i in (1..10) %}
   {% capture namespace %}block{{ i }}{% endcapture %}

   {% case article.metafields[namespace]['layout_image']  %}
   {% when 'center' %}
   {% assign classImagePos = "is-image-center" %}
   {% when 'right' %}
   {% assign classImagePos = "is-image-right" %}
   {% when 'left' %}
   {% assign classImagePos = "is-image-left" %}
   {% when'none' %}
   {% assign classImagePos = "is-image-none" %}
     {% else %}
   {% assign classImagePos = '' %}
   {% endcase %}

   {% case article.metafields[namespace]['size_image']  %}
   {% when '50' %}
   {% assign classImageSize = "is-image-size-50" %}
   {% when '30' %}
   {% assign classImageSize = "is-image-size-30" %}

     {% else %}
   {% assign classImageSize = "is-image-size-none" %}
   {% endcase %}

   {% if  article.metafields[namespace]['text'] %}
     {% assign blockText = article.metafields[namespace]['text'] %}
   {% else %}
     {% assign blockText = null %}
   {% endif %}
   {% if  article.metafields[namespace]['image'] %}
     {% assign blockImage = article.metafields[namespace]['image'] %}
     {% assign blockImageUrl = blockImage | file_img_url: '500x' %}
   {% else %}
     {% assign blockImage = null %}
     {% assign blockImageUrl = null %}
   {% endif %}

   {% if article.metafields[namespace]['image'] or article.metafields[namespace]['text'] %}
<div class="l-page__flex-block {{ classImagePos }} {{  classImageSize }}">
  <div class="l-flex-block {{ classImagePos }} {{  classImageSize }}">
    {% if blockImage %}
      <div class="l-flex-block__item--image">
        <img src="{{ blockImageUrl }}" alt="{{ blockImage }}" class="l-page__img">
      </div>
    {% endif %}
    {% if blockText %}
      <div class="l-flex-block__item--text">
        {{blockText }}
      </div>
    {% endif %}
  </div>
  {% endif %}

  {% endfor %}
