{% assign blockTitle = collection.metafields['icon-list']['title'] %}
<div class="l-icon-list">

  <header class="l-icon-list__header ">
    {%  if logoImage != blank %}
      {% if logoImage != blank %}
        <h3 class="l-icon-list__logo">
          {% include 'responsive-image' with
            image: logoImage,
            max_width: 400,
            max_height: 700
          %}
        </h3>
      {% endif %}
    {% endif %}
    {%  if blockTitle != blank %}
      <h2 class="l-icon-list__heading">
                <span class="l-icon-list__title">
                  {{ blockTitle }}
                </span>
      </h2>
    {% endif %}
    {%  if blockSubTitle != blank %}
      <h4 class="l-icon-list__sub-heading">
        {{ blockSubTitle }}
      </h4>
    {% endif %}
  </header>

    <ul class="l-icon-list__list">
      {% for c in (1..10) %}
        {% assign itemId = 'icon_' | append : c %}
        {% assign titleId = 'title_' | append : c %}
        {% if collection.metafields['icon-list'][itemId] %}
        <li class="l-icon-list__item">
          <div class="l-icon-list__icon-thumb">
            <div class="c-icon-thumb">
              <div class="c-icon-thumb__icon--{{ collection.metafields['icon-list'][itemId] | handle }}">
               <img src="{{ collection.metafields['icon-list'][itemId] | file_img_url: '500x' }}" alt="icon" />
              </div>
              {% if collection.metafields['icon-list'][titleId] %}
                <div class="c-icon-thumb__title">
                  {{ collection.metafields['icon-list'][titleId] }}
                </div>
              {% endif %}
            </div>
          </div>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

