<nav class="c-nav-menu--main" role="navigation" >
  <ul  class="c-nav-menu__list">
    {% for link in linklists[section.settings.menu].links %}
      {% if link.links != blank %}
        <li class="c-nav-menu__item">
          <a  class="c-nav-menu__link--main" href="{{ link.url }}"  data-control-radio="menuMain" data-state="off" data-control="{{ link.title | handle }}">
            <span  class="c-nav-menu__label">{{ link.title }} </span>
            <span  class="c-nav-menu__icon--arrow-down">{% include 'icon-arrow-down' %}</span>
          </a>

          <ul class="c-nav-menu__list--sub-list" data-container-radio="menuMain" data-state="off" data-container="{{ link.title | handle }}">
            {% for childlink in link.links %}
              <li class="c-nav-menu__item--sub-item">
                <a class="c-nav-menu__link--sub-link"   href="{{ childlink.url }}">
                  <span  class="c-nav-menu__label-sub-label">{{ childlink.title }}</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="c-nav-menu__item" >
          <a class="c-nav-menu__link--main" href="{{ link.url }}">
            <span  class="c-nav-menu__label">{{ link.title }} </span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
