<nav class="c-nav-menu--mobile" role="navigation" >
  <ul  class="c-nav-menu__list--mobile">

    <li class="c-nav-menu__item--mobile">
      <a  class="c-nav-menu__link--mobile"
          href="#"
          data-control-radio="menuMain"
          data-state="off"
          data-control="shop"
          id="navControlMobileShop"
      >
        <span  class="c-nav-menu__label--mobile">Shop</span>
        <span  class="c-nav-menu__icon--angle-down">{% include 'icon-angle-down' %}</span>
      </a>

      <ul class="c-nav-menu__list--mobile-sub c-nav-menu__list--shop"
          id="menu-list-0-shop"
          data-container-radio="menuMain"
          data-state="off"
          data-container="shop"
      >
        {% for childlink in linklists['shop-menu-2021'].links %}
          {% assign modClass = 'mobile-sub' %}
          {% render 'ac-nav-sub-links.liquid' with childlink: childlink, link: linklists['shop-menu-2021'], modClass: modClass %}
        {% endfor %}
      </ul>

    </li>


    {% for link in linklists[section.settings.mobile_menu].links %}
      {% if link.links != blank %}
        <li  class="c-nav-menu__item--mobile">
          <a  class="c-nav-menu__link--mobile" href="{{ link.url }}"
              data-control-radio="menuMobile"
              data-state="off"
              data-control="{{ link.title | handle }}"
              id="navControlMobile{{ link.handle }}"
          >
            <span  class="c-nav-menu__label--mobile test">{{ link.title }} </span>
            <span  class="c-nav-menu__icon--angle-down">{% include 'icon-angle-down' %}</span>
          </a>
          <ul class="c-nav-menu__list--mobile-sub"
              data-container-radio="menuMobile"
              data-state="off"
              data-container="{{ link.title | handle }}"
          >
            {% for childlink in link.links %}
              {% assign modClass = 'mobile-sub' %}
             {% render 'ac-nav-sub-links.liquid' with childlink: childlink, link: link, modClass: modClass %}
            {% endfor %}

          </ul>
        </li>
      {% else %}
        <li class="c-nav-menu__item--mobile">
          <a id="navControlMobile{{ link.handle }}" class="c-nav-menu__link--mobile" href="{{ link.url }}">
            <span  class="c-nav-menu__label--mobile">{{ link.title }} </span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>
