{% if product.metafields.global.landingpage_price_sell != nil %}
  {% assign landingPriceSell = product.metafields.global.landingpage_price_sell %}
{% endif %}

{% if product.metafields.global.landingpage_price_full != nil %}
  {% assign landingPriceFull = product.metafields.global.landingpage_price_full %}
{% else %}
  {% assign landingPriceFull = product.price | money %}
{% endif %}

{% if product.metafields.global.landingpage_price_discount1 != nil %}
  {% assign landingPriceDiscount1 = product.metafields.global.landingpage_price_discount1 %}
{% endif %}

{% if product.metafields.global.landingpage_price_discount2 != nil %}
  {% assign landingPriceDiscount2 = product.metafields.global.landingpage_price_discount2 %}
{% endif %}

{% if landingPriceSell or landingPriceFull or landingPriceDiscount1 or landingPriceDiscount2 %}
<div class="c-product-price" data-price-wrapper>

  {% if landingPriceSell %}
      <span class="c-product-price__price"  data-product-price>
        {{ landingPriceSell }}
      </span>
  {% endif %}

  {% if landingPriceFull  %}
    <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
    {% if  landingPriceSell  %}
    <s class="c-product-price__compare-price--original" data-compare-price>
    {{ landingPriceFull }}
    </s>
      {% else %}
        <span class="c-product-price__price has-no-discount" data-compare-price>
          {{ landingPriceFull }}
        </span>
      {% endif %}
  {% endif %}

  {%  if landingPriceDiscount1 %}
  <s class="c-product-price__compare-price--discount-1" data-compare-price>
    {{ landingPriceDiscount1 }}
  </s>
  {% endif %}

  {%  if landingPriceDiscount2 %}
    <s class="c-product-price__compare-price--discount-2" data-compare-price>
      {{ landingPriceDiscount2 }}
    </s>
  {% endif %}

</div>
{% endif %}
