<div class="c-product-thumb{{ modClass }}">
  <!-- modclass {{ modClass }} ac-product-thumb.liquid -->
  {% if product.featured_image != blank %}
    <div class="c-product-thumb__feature-image{{ modClass }}">
    <a data-product-id="{{ product.id }}" id="linkBundleImage" class="c-product-thumb__link-image" href="{{ product.url }}">
      {% include 'responsive-image' with
        image: product.featured_image,
        max_width: 700,
        max_height: 800
      %}
    </a>
    </div>
  {% endif %}
  <div class="c-product-thumb__info{{ modClass }}">
  <h4 class="c-product-thumb__heading">
    <span class="c-product-thumb__title">
      <a  data-product-id="{{ product.id }}" id="linkBundleTitle" class="c-product-thumb__link-title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </span>
  </h4>
  <div class="c-product-thumb__meta">
    {% if product.compare_at_price > product.price %}

      {% if product.price_varies %}
        {%comment%}gc--[{%endcomment%}{%- capture geolizr_prepend_code -%}{%- render 'geolizr-currency', geolizr_price: product.price -%}{% endcapture %}{%comment%}]--gc{%endcomment%}{%- assign sale_price = product.price | money | prepend: geolizr_prepend_code | append: "</span>"-%}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        {{ 'products.product.on_sale' | t }}
        {%comment%}gc--[{%endcomment%}{%- capture geolizr_prepend_code -%}{%- render 'geolizr-currency', geolizr_price: product.price -%}{% endcapture %}{%comment%}]--gc{%endcomment%}{{ product.price | money | prepend: geolizr_prepend_code | append: "</span>"}}
      {% endif %}

    {% else %}

      {% if product.price_varies %}
        {%comment%}gc--[{%endcomment%}{%- capture geolizr_prepend_code -%}{%- render 'geolizr-currency', geolizr_price: product.price -%}{% endcapture %}{%comment%}]--gc{%endcomment%}{%- assign price = product.price | money | prepend: geolizr_prepend_code | append: "</span>"-%}
        {{ 'products.product.from_text_html' | t: price: price }}
      {% else %}
        {%comment%}gc--[{%endcomment%}{%- capture geolizr_prepend_code -%}{%- render 'geolizr-currency', geolizr_price: product.price -%}{% endcapture %}{%comment%}]--gc{%endcomment%}{{ product.price | money | prepend: geolizr_prepend_code | append: "</span>"}}
      {% endif %}

    {% endif %}

    {% if product.compare_at_price > product.price %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <s>{%comment%}gc--[{%endcomment%}{%- capture geolizr_prepend_code -%}{%- render 'geolizr-currency', geolizr_price: product.compare_at_price -%}{% endcapture %}{%comment%}]--gc{%endcomment%}{{ product.compare_at_price | money | prepend: geolizr_prepend_code | append: "</span>"}}</s>
    {% endif %}

    {% unless product.available %}
      {{ 'products.product.sold_out' | t }}
    {% endunless %}
  </div>
  </div>
</div>
