{% if product.metafields.global.collection_title == null %}
  {% assign productTitle = product.title %}
{% else %}
  {% assign productTitle = product.metafields.global.collection_title %}
{% endif %}

<div class="c-product-thumb{{ modClass }}">
  <!-- modclass {{ modClass }} ac-product-thumb.liquid -->
  {% if product.featured_image != blank %}
    <div class="c-product-thumb__feature-image{{ modClass }}">
    <a class="c-product-thumb__link-image" href="{{ product.url | within: collection }}">
      {% include 'responsive-image' with
        image: product.featured_image,
        max_width: 700,
        max_height: 800
      %}
    </a>
    </div>
  {% endif %}
  <div class="c-product-thumb__info{{ modClass }}">
  <h4 class="c-product-thumb__heading{{ modClass }}">
    <span class="c-product-thumb__title">
      <a class="c-product-thumb__link-title ac-product-title" href="{{ product.url | within: collection }}">{{ productTitle }}</a>
    </span>
  </h4>
    <!--
  <div class="c-product-thumb__meta">
  </div>
    <div class="c-product-thumb__btn{{ modClass }}">
      <a class="c-btn--product-thumb " href="{{ product.url }}">
        <span class="c-btn__link-label">View Product</span>
      </a>
    </div>

  -->
  </div>
</div>
