{% assign productType = product.type | handle %}
<!-- productType {{ productType }}  product.type {{ product.type }} product {{ product }} -->
{% if current_variant.metafields.global.pre_order_dispatch_text  %}
  <!-- pre_order_dispatch_text from the current_variant meta -->
  {% assign preOrderDispatchText =  product.metafields.global.pre_order_dispatch_text %}
{% elsif product.metafields.global.pre_order_dispatch_text != nill %}
  <!-- pre_order_dispatch_text from the product meta -->
    {% assign preOrderDispatchText =  product.metafields.global.pre_order_dispatch_text %}
  {% elsif shop.metafields[productType].pre_order_dispatch_text  != nill %}
  <!-- pre_order_dispatch_text from the shop meta -->
  {% assign preOrderDispatchText =  shop.metafields[productType].pre_order_dispatch_text %}

{% else %}
  <!-- pre_order_dispatch_text none -->
  {% assign preOrderDispatchText = nil %}
{% endif %}


{% assign currentVariant = product.selected_or_first_available_variant %}
{% assign add_to_cart_text = 'products.product.add_to_cart' | t  %}
{% if product.metafields.global.add_to_cart_text %}
  {% assign add_to_cart_text = product.metafields.global.add_to_cart_text  %}
{% endif %}
<div class="c-product-form--options-bundle">
{% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}
  <input type="hidden" name="id" value="{{ currentVariant.id }}">

  <div class="c-product-form__product-price--bundle-product">
    {% include 'ac-product-form-price' %}
  </div>


  {% if current_variant.inventory_quantity < 1 and current_variant.inventory_policy == 'continue'  %}
    {% assign displayClass = 'is-shown'  %}
  {% else %}
    {% assign displayClass = 'is-hidden'  %}
  {% endif %}
  <!-- <div class="c-product-form__info-notice  {{ displayClass }}" data-variant-notice >
    <div class="c-info-notice--dispatch-date">
      {{ preOrderDispatchText }}
    </div>
  </div>-->


  {% unless product.has_only_default_variant %}
    {% for option in product.options_with_values %}

      <div class="js c-product-form__options--options-bundle">
        <div class="c-product-form__input-wrapper--select c-product-form__input-wrapper--bundle-product selector-wrapper">
          <label class="c-product-form__label--{{ option.name }} c-product-form__label--bundle-product" for="Option{{ option.position }}">
            {{ option.name }}
          </label>
          <select
              class="c-product-form__select--{{ option.name | handle}} single-option-selector c-product-form__select--bundle-product"
              id="Option{{ option.position }}"
              name="options[{{ option.name | escape }}]"
              data-js-product-form-select
              >
            {% for value in option.values %}
              <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                {{ value }}
              </option>
            {% endfor %}
          </select>
        </div>
          <select name="id" data-productid="{{product.id }}" id="productSelect" class="product-single__variants" style="display:none">
            {% for variant in product.variants %}
              {% if variant.available %}

                {% comment %}
                  Note: if you use option_selection.js, your < select > tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                {% endcomment %}
                <!--                 <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option> -->

                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" data-variant-id="{{ variant.id}}" data-variant-qty="{{ variant.inventory_quantity }}" data-variant-policy="{{ variant.inventory_policy}}" data-variants="{{ variant.option1 | handle }};{{ variant.option2 | handle }};{{ variant.option3 | handle }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>
      </div>
    {% endfor %}
  {% endunless %}

  <noscript>
    <select name="id">
      {% for variant in product.variants %}
        <option
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}"
            data-variant-qty="{{ variant.inventory_qty }}"
        >
          {{ variant.title }}
        </option>
      {% endfor %}
    </select>
  </noscript>

  <div class="c-product-form__input-wrapper--qty-bundle-product  .is-shown">
  <label class="c-product-form__label--qty" for="Quantity">{{ 'products.product.quantity' | t }}</label>
  <input class="c-product-form__input--qty" type="number" id="Quantity" name="quantity" value="1" min="1">
  </div>


  <div class="c-product-form__submit--bundle-product">
  <button
      class="c-btn--product-form-submit"
      type="submit"
      name="add"
      data-submit-button
      {% unless current_variant.available %}disabled="disabled"{% endunless %}>
        <span data-submit-button-text class="c-btn__link-label">
          {% if current_variant.available and current_variant.inventory_quantity > 0   %}
            {{ add_to_cart_text }}
            {% elsif current_variant.available and current_variant.inventory_management != 'shopify'  %}
            {{ add_to_cart_text }}
          {% elsif current_variant.inventory_quantity < 1 and current_variant.inventory_policy == 'continue'%}
            Pre-order
            {% else %}
            {{ 'products.product.sold_out' | t }}
          {% endif %}
        </span>
  </button>
  </div>

{% endform %}
</div>
