{% if template.name == 'index' %}
<h1 class="c-site-title c-site-title--front-page" >
  {% else %}
  <div class="h1 c-site-title c-site-title--page">
    {% endif %}
    <a href="/" class="c-site-title__link">
      {% if section.settings.logo != blank %}
        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
             srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
             alt="{{ section.settings.logo.alt | default: shop.name }}"
             class="c-site-title__img--desk" >
        <img src="{{ section.settings.mobile_logo | img_url: image_size }}"
             srcset="{{ section.settings.mobile_logo | img_url: image_size }} 1x, {{ section.settings.mobile_logo | img_url: image_size, scale: 2 }} 2x"
             alt="{{ section.settings.logo.alt | default: shop.name }}"
             class="c-site-title__img--mob" >
      {% else %}
        {{ shop.name }}
      {% endif %}

    </a>
    {% if template.name == 'index' %}
</h1>
{% else %}
  </div>
    {% endif %}
