{% assign collection = collections[collectionHandle] %}
    {% if collection != blank%}
  <div class="c-product-form__input-wrapper--select  c-product-form__input-wrapper--bundle-product selector-wrapper">
    {% assign optionLable =  collection.metafields.global.option_lable %}
    {% unless optionLable  %}
    {% assign optionLable = collection.title %}
    {% endunless %}
    <label class="c-product-form__label--{{ collectionHandle }}  c-product-form__label--bundle-product c-product-form__label--{{ product.handle }}" for="{{ collectionhandle }}">
      {{ optionLable }}
    </label>
    <select
        class="c-product-form__select--{{ collectionhandle }} c-product-form__select--bundle-product single-option-selector"
        id="{{ collectionhandle }}"
        name="options[collectionhandle]"
    >
      {% for optionProduct in collection.products %}
        {% for variant in  optionProduct.variants %}
        {% assign optionTitle = variant.metafields.global.collection_title %}
        {% unless optionTitle  %}
        {% assign optionTitle = variant.title %}
        {% endunless %}
        <option>{{ optionTitle }}</option>
      {% endfor %}
      {% endfor %}

    </select>
  </div>
{% endif %}

