{% assign collection = collections[collectionHandle] %}
    {% if collection != blank%}
  <div class="c-product-form__input-wrapper--select  c-product-form__input-wrapper--bundle-product selector-wrapper">
    {% assign optionLabel =  collection.metafields.global.option_label %}
    {% unless optionLabel  %}
    {% assign optionLabel = collection.title %}
    {% endunless %}
    <label class="c-product-form__label--{{ collectionHandle }}  c-product-form__label--bundle-product c-product-form__label--{{ product.handle }}" for="{{ collectionhandle }}">
      {{ optionLabel }}
    </label>
    <select
        data-option-label="{{ optionLabel }}"
        class="c-product-form__select--{{ collectionHandle }} some-test ac-test-outofstock c-product-form__select--bundle-product single-option-selector"
        id="{{ collectionHandle }}"
        name="properties[{{ optionLabel }}]"
    >

      {% for optionProduct in collection.products %}
        {% if optionProduct.variants.size > 1 %}
          <!-- variant -->
          {% for variant in  optionProduct.variants %}
          {% if variant.available %}
            {% assign optionTitle = variant.metafields.global.collection_title %}
            {% unless optionTitle  %}
            {% assign optionTitle = variant.title %}
            {% endunless %}
            <option>{{optionTitle}}</option>
          {% endif %}
        {% endfor %}
          {% else %}
            <!-- NOT variant -->
            {% if optionProduct.available %}
              {% assign optionTitle = optionProduct.metafields.global.collection_title %}
              {% unless optionTitle  %}
              {% assign optionTitle = optionProduct.title %}
              {% endunless %}
              <option>{{optionTitle}}</option>
          {% endif %}
        {% endif %}



      {% endfor %}


    </select>
  </div>
{% endif %}

