{% assign geolizr_switcher_settings = shop.metafields.geolizr.currency_switcher %}

{% if shop.metafields.geolizr.selectable_currencies_json %}
    {% assign geolizr_currency_switcher_border_color = geolizr_switcher_settings.border_color %}
    {% assign geolizr_currency_switcher_text_color = geolizr_switcher_settings.text_color %}
    {% assign geolizr_currency_switcher_transparent = geolizr_switcher_settings.transparent_switcher %}
    {% assign geolizr_currency_switcher_background_color = geolizr_switcher_settings.background_color %}
    {% assign geolizr_currency_switcher_align_bottom = geolizr_switcher_settings.align_bottom %}
    {% assign geolizr_currency_switcher_align_right = geolizr_switcher_settings.align_right %}
    {% assign geolizr_currency_switcher_margin_vertical = geolizr_switcher_settings.margin_vertical %}
    {% assign geolizr_currency_switcher_margin_horizontal = geolizr_switcher_settings.margin_horizontal %}
    {% assign geolizr_currency_switcher_show_flags = geolizr_switcher_settings.show_flags %}
    {% assign geolizr_currency_switcher_show_border = geolizr_switcher_settings.show_border %}
    {% assign geolizr_currency_switcher_font = geolizr_switcher_settings.font %}
    {% assign geolizr_currency_switcher_font_size = geolizr_switcher_settings.font_size %}
    {% assign geolizr_currency_switcher_flag = geolizr_switcher_settings.selectable_currency %}

    {% assign selectable_currencies = shop.metafields.geolizr.selectable_currencies_json %}
{% else %}
    {% capture geolizr_currency_switcher_border_color %}{%- render 'geolizr-json' json: geolizr_switcher_settings key:'border_color' default: '#cccccc' render:'true' -%}{% endcapture %}
    {% capture geolizr_currency_switcher_text_color %}{%- render 'geolizr-json' json: geolizr_switcher_settings key:'text_color' default: '#000000' render:'true' -%}{% endcapture %}
    {% capture geolizr_currency_switcher_transparent %}{%- render 'geolizr-json' json: geolizr_switcher_settings key:'transparent_switcher' default: 'false' -%}{% endcapture %}
    {% capture geolizr_currency_switcher_background_color %}{%- render 'geolizr-json' json: geolizr_switcher_settings key:'background_color' default: '#ffffff' render:'true' -%}{% endcapture %}
    {% capture geolizr_currency_switcher_align_bottom %}{%- render 'geolizr-json' json: geolizr_switcher_settings key:'align_bottom' default: 'true' render:'true' -%}{% endcapture %}
    {% capture geolizr_currency_switcher_align_right %}{%- render 'geolizr-json' json: geolizr_switcher_settings key:'align_right' default: 'true' render:'true' -%}{% endcapture %}
    {% capture geolizr_currency_switcher_margin_vertical %}{%- render 'geolizr-json' json: geolizr_switcher_settings key:'margin_vertical' default: '10' render:'true' -%}{% endcapture %}
    {% capture geolizr_currency_switcher_margin_horizontal %}{%- render 'geolizr-json' json: geolizr_switcher_settings key:'margin_horizontal' default: '10' render:'true' -%}{% endcapture %}
    {% capture geolizr_currency_switcher_show_flags %}{%- render 'geolizr-json' json: geolizr_switcher_settings key:'show_flags' default: 'true' render:'true' -%}{% endcapture %}
    {% capture geolizr_currency_switcher_show_border %}{%- render 'geolizr-json' json: geolizr_switcher_settings key:'show_border' default: 'true' render:'true' -%}{% endcapture %}
    {% capture geolizr_currency_switcher_font %}{%- render 'geolizr-json' json: geolizr_switcher_settings key:'font' default: 'Arial, Helvetica, sans-serif' render:'true' -%}{% endcapture %}
    {% capture geolizr_currency_switcher_font_size %}{%- render 'geolizr-json' json: geolizr_switcher_settings key:'font_size' default: '14' render:'true' -%}{% endcapture %}
    {% capture geolizr_currency_switcher_flag %}{%- render 'geolizr-json' json: geolizr_switcher_settings key:selectable_currency default: 'eu' render:'true' -%}{% endcapture %}

    {% assign geolizr_currency_switcher_align_bottom = geolizr_currency_switcher_align_bottom | replace: "\n", "" | strip %}
    {% assign geolizr_currency_switcher_text_color = geolizr_currency_switcher_text_color | replace: "\n", "" | strip %}
    {% assign geolizr_currency_switcher_transparent = geolizr_currency_switcher_transparent | replace: "\n", "" | strip %}
    {% assign geolizr_currency_switcher_background_color = geolizr_currency_switcher_background_color | replace: "\n", "" | strip %}
    {% assign geolizr_currency_switcher_align_bottom = geolizr_currency_switcher_align_bottom | replace: "\n", "" | strip %}
    {% assign geolizr_currency_switcher_align_right = geolizr_currency_switcher_align_right | replace: "\n", "" | strip %}
    {% assign geolizr_currency_switcher_margin_vertical = geolizr_currency_switcher_margin_vertical | replace: "\n", "" | strip %}
    {% assign geolizr_currency_switcher_margin_horizontal = geolizr_currency_switcher_margin_horizontal | replace: "\n", "" | strip %}
    {% assign geolizr_currency_switcher_show_flags = geolizr_currency_switcher_show_flags | replace: "\n", "" | strip %}
    {% assign geolizr_currency_switcher_show_border = geolizr_currency_switcher_show_border | replace: "\n", "" | strip %}
    {% assign geolizr_currency_switcher_font = geolizr_currency_switcher_font | replace: "\n", "" | strip %}
    {% assign geolizr_currency_switcher_font_size = geolizr_currency_switcher_font_size | replace: "\n", "" | strip %}
    {% assign geolizr_currency_switcher_flag = geolizr_currency_switcher_flag | replace: "\n", "" | strip %}

    {% assign selectable_currencies = shop.metafields.geolizr.selectable_currencies | replace: '[', '' | replace: ']', '' | replace: '"', '' | split: ',' %}
{% endif %}

<style>
    .geolizr-currency-link:link,
    .geolizr-currency-link:visited,
    .geolizr-currency-link:hover,
    .geolizr-currency-link:active {
        text-decoration: none !important;
        color: {{ geolizr_currency_switcher_text_color }} !important;
    }

    {% if position == 'geolizr-absolute-auto' %}
        .geolizr-currency-switch-wrapper {
            {% if geolizr_currency_switcher_align_bottom == 'true' %}
                bottom: {{ geolizr_currency_switcher_margin_vertical }}px;
            {% else %}
                top: {{ geolizr_currency_switcher_margin_vertical }}px;
            {% endif %}
            {% if geolizr_currency_switcher_align_right == 'true' %}
                right: {{ geolizr_currency_switcher_margin_horizontal }}px;
            {% else %}
                left: {{ geolizr_currency_switcher_margin_horizontal }}px;
            {% endif %}
        }
    {% endif %}

    .geolizr-currency-links-custom {
        border:{% if geolizr_currency_switcher_show_border == 'true' %}solid 1px {{ geolizr_currency_switcher_border_color }}{% else %}none{% endif %};
        font-family: {{ geolizr_currency_switcher_font }};
        font-size: {{ geolizr_currency_switcher_font_size }}px;
        background: {{ geolizr_currency_switcher_background_color }};
    }

    .geolizr-currency-links-custom.geolizr-currency-links {
        color:{{ geolizr_currency_switcher_text_color }};
        font-family: {{ geolizr_currency_switcher_font }};
        font-size: {{ geolizr_currency_switcher_font_size }}px;
        line-height: 1.42857143;
        padding: 0;
        margin: 0;
    }

    .geolizr-currency-switcher {
        display: inline-block;
        border:{% if geolizr_currency_switcher_show_border == 'true' %}solid 1px {{ geolizr_currency_switcher_border_color }}{% else %}none{% endif %};
        color:{{ geolizr_currency_switcher_text_color }};
        background:{% if geolizr_currency_switcher_transparent == 'true' %}none{% else %}{{ geolizr_currency_switcher_background_color }}{% endif %};
        {% if geolizr_currency_switcher_align_bottom == 'true' %}
            bottom: {{ geolizr_currency_switcher_margin_vertical }}px;
        {% else %}
            top: {{ geolizr_currency_switcher_margin_vertical }}px;
        {% endif %}
        {% if geolizr_currency_switcher_align_right == 'true' %}
            right: {{ geolizr_currency_switcher_margin_horizontal }}px;
        {% else %}
            left: {{ geolizr_currency_switcher_margin_horizontal }}px;
        {% endif %}
        font-family: {{ geolizr_currency_switcher_font }};
        font-size: {{ geolizr_currency_switcher_font_size }}px;
    }
</style>

{% unless idAppender %}
  {% assign idAppender = "now" | date: "%N" | modulo: 999999 | plus: 100000 %}
{% endunless %}
{% capture wrapperId %}geolizr-currency-switch-wrapper{% if idAppender %}-{{idAppender}}{% endif %}{% endcapture %}

<div class="geolizr-currency-switch-wrapper {{ position }}">
    <a class="geolizr-currency-switcher geolizr-currency-link" href="#" data-no-instant>
        {% if geolizr_currency_switcher_show_flags == 'true' %}
            <i class="famfamfam-flag-set" data-currency="{{ selectable_currency }}"></i>
        {% endif %}
        <span class="geolizr-currency-switcher-value">{{ shop.currency }}</span>
        <span class="geolizr-currency-switcher-arrow-{{ arrowDirection }}"></span>
    </a>

    <ul class="geolizr-currency-list geolizr-currency-links geolizr-currency-links-custom geolizr-currency-links-{{ arrowDirection }}">
        {% for selectable_currency in selectable_currencies %}
            <li class="geolizr-currency-list-li">
                <a class="geolizr-currency-list-link geolizr-currency-link first-for" geolizr-currency-data="{{ selectable_currency }}" href="#" onclick="Geolizr.switchCurrency('{{ selectable_currency }}')" data-no-instant>
                    {% if geolizr_currency_switcher_show_flags == 'true' %}
                        <i class="famfamfam-flag-set" data-currency="{{ selectable_currency }}"></i>
                    {% endif %}
                    <span class="geolizr-selectable-currency">{{ selectable_currency }}</span>
                </a>
            </li>
        {% endfor %}

        {% unless selectable_currencies contains shop.currency %}
        <li class="geolizr-currency-list-li">
            <a class="geolizr-currency-list-link geolizr-currency-link unless" geolizr-currency-data="{{ shop.currency }}" href="#" onclick="Geolizr.switchCurrency('{{ selectable_currency }}')" data-no-instant>
                {% if geolizr_currency_switcher_show_flags == 'true' %}
                    <i class="famfamfam-flag-set" data-currency="{{ shop.currency }}"></i>
                {% endif %}
                <span class="geolizr-selectable-currency geolizr-shop-currency">{{ shop.currency }}</span>
            </a>
        </li>
        {% endunless  %}
        <li class="geolizr-currency-list-li geolizr-currency-placeholder hidden" style="display:none;">
            <a style="color:{{ geolizr_currency_switcher_text_color }};" class="geolizr-currency-list-link geolizr-currency-link" onclick="Geolizr.switchCurrency('{{ selectable_currency }}')" geolizr-currency-data="" href="#" data-no-instant>
                {% if geolizr_currency_switcher_show_flags == 'true' %}
                    <i class="famfamfam-flag-eu"></i>
                {% endif %}
                <span class="geolizr-selectable-currency geolizr-currency-placeholder-value" style="width:42px;min-width:42px;max-width:42px;display:inline-block;"></span>
            </a>
        </li>
    </ul>
</div>

<script>
    Geolizr.addEventListener('currency.api', function(e) {
        Geolizr.init(function($) {
            $('.famfamfam-flag-set').each(function(i, element) {
                var currency = $(element).attr('data-currency');
                var lang =  Geolizr.currenciesToLanguages[currency] || 'eu';
                var flag = 'famfamfam-flag-' + lang;
                $(element).removeClass('famfamfam-flag-set');
                $(element).addClass(flag);
            });
        });

        Geolizr.initWrappers();

        $('.geolizr-currency-switch-wrapper').css('visibility', 'visible');
    });
</script>