<section class="l-main__content-block" data-section-id="{{ section.id }}" data-section-type="quotes" data-section-handle="{{ section.settings.title | handle }}">
  <div class="c-image-layer">
  <div class="c-image-layer__background">
    {% include 'ac-blobs' %}
  </div>
  <div class="c-image-layer__content">
    <div class="l-main__content-block-wrapper">
  <div class="c-content-block--quote ">
    {% if section.settings.title != blank %}
      <header class="c-content-block__header--quote">
        <h2 class="c-content-block__heading--quote u-col-{{ cb_heading_colour_class }} u-fs-{{ cb_heading_size_class }}">
          <span  class="c-content-block__title--quote">{{ section.settings.title | escape }}</span>
        </h2>
        {% if section.settings.cb_sub_title != blank %}
          <h4 class="c-content-block__sub-heading">
            {{  section.settings.cb_sub_title }}
          </h4>
        {% endif %}
      </header>
    {% endif %}

  {% if section.blocks.size > 0 %}
    <div class="c-content-block__quote-list">
      <div class="c-quote-list" id="Quotes-{{ section.id }}" data-count="{{ section.blocks.size }}">
        <div class="c-quote-list__list">
        {% for block in section.blocks %}
          <div class="c-quote-list__quote--{{ block.id }}" {{ block.shopify_attributes }}>
            <blockquote class="c-quote">
              <span class="c-quote__icon">{% include 'icon-quote' %}</span>
              {% if block.settings.quote != blank %}
                <div class="c-quote__text ">{{ block.settings.quote }}</div>
              {% endif %}
              {% if block.settings.author != blank %}
                <cite class="c-quote-list__quote-cite ">{{ block.settings.author | escape }}</cite>
              {% endif %}
            </blockquote>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
    </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
  </div>
    </div><!-- .l-main__content-block-wrapper -->
  </div><!-- .c-image-layer__content -->
  </div><!-- .c-image-layer__content -->
</section>

{% schema %}
  {
    "name": "Testimonials",
    "class": "section-quote",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
