{%- assign footer_linklist = section.settings.footer_linklist -%}
<footer class="l-site__footer">

  <div class="c-image-layer">
    <div class="c-image-layer__background">
      {% include 'ac-blobs' %}
    </div>
    <div class="c-image-layer__content">
      <div class="l-main__content-block-wrapper">

<div class="l-footer">
<div class="l-footer__site-title">
  {% include 'ac-footer-logo' %}
</div>
  {% if linklists[footer_linklist].links.size > 0 %}
  <div class="l-footer__nav-menu">
    <div class="c-nav-menu--footer">
      <ul class="c-nav-menu__list--footer">
        {% for link in linklists[footer_linklist].links %}
          <li  class="c-nav-menu__item--footer" >
            <a  class="c-nav-menu__link--footer"  href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}

  <div class="l-footer__socials">
    <div class="c-socials">
      <div class="c-socials__header">
        <h4 class="c-socials__heading">{{ 'Join Our Tribe' }}</h4>
      </div>
<nav class="c-nav-menu--social">
  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
  <ul class="c-nav-menu__list--social">
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

      {% if settings[social_link] != blank %}
        <li class="c-nav-menu__item--social">
          <a class="c-nav-menu__link--social" href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            {% include social_icon %}
            <span class="icon-fallback-text">{{ social }}</span>
          </a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>
</nav>
  </div>
  </div>


  {% if section.settings.footer_newsletter_enable %}
    <div class="l-footer__subscribe-form">
      {% include 'ac-subscribe-form' %}
    </div>
  {% else %}
    <!-- NEWS LETTER DISABLED -->
  {% endif %}

  {% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
      <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          <li>
            {{ type | payment_type_svg_tag: class: 'icon' }}
          </li>
        {% endfor %}
      </ul>
    {% endunless %}
  {% endif %}

  <div class="l-footer__site-info">
    <div class="l-site-info">
    <small class="l-site-info__line--copy-right">{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. </small>
      <small class="l-site-info__line--patent">UK Patent Granted: GB2528484; UK Patent Pending: 1803843.0</small>
      <small class="l-site-info__line--powered-by" > {{ powered_by_link }}</small>
    </div>
  </div>

</div>


      </div><!-- .l-main__content-block-wrapper -->
    </div><!-- .c-image-layer__content -->
  </div><!-- .c-image-layer__content -->

</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
  {
  "type": "header",
  "content": "Footer Links"
  },
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
      "type": "checkbox",
      "id": "footer_newsletter_enable",
      "label": "Show newsletter signup",
      "default": false
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
  {
  "type": "header",
  "content": "Footer Logo"
  },

  {
  "type": "image_picker",
  "id": "logo",
  "label": "Logo image"
  },
  {
  "type": "range",
  "id": "logo_max_width",
  "min": 50,
  "max": 450,
  "step": 10,
  "unit": "px",
  "label": "Custom logo width",
  "default": 250
  }
    ]
  }

{% endschema %}
