<!doctype html>

<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N4VXGT9');</script>
  <!-- End Google Tag Manager -->

  {% assign modClass = template | handle | prepend : "--"  %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_accent }}">
  <link rel="canonical" href="{{ canonical_url }}">

  <link rel="stylesheet" href="https://use.typekit.net/xgk6iqh.css">


  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}
<!-- page title {{ page_title }} -->
  <!-- general.meta.page {{ 'general.meta.page' | t: page: current_page }} -->
  <!-- shopname {{ shop.name }} -->
  {%- capture seo_title -%}
    {{ page_title }}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
<!-- include 'social-meta-tags' -->
  {% include 'social-meta-tags' %}
  <!-- include 'style-tags' -->
  {% include 'style-tags', layout: 'theme' %}
  <!-- include 'css-variables' -->
  {% include 'css-variables' %}

  <!-- Google Optimize -->

  <script src="https://www.googleoptimize.com/optimize.js?id=OPT-TZ7N9NM "></script>

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', '');

    window.theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  {% include 'script-tags', layout: 'theme' %}

  {{ content_for_header }}



  <!-- HOT JAR SCRIPT -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:1948645,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>


  <meta name="google-site-verification" content="DnyoN-PWpx6nqz0hlyLBzDrlwO0jmG3o2rt3Gp4jsgs" />
  <meta name="google-site-verification" content="cpuw_ogtOFrNqJRvNuOBpVosjzMZ2k3ilJdjGnAZ5_A" />

  <!-- OKENDO -->
  {{ shop.metafields.okendo.ReviewsWidgetStyleTag }}
  {{ shop.metafields.okendo.StyleCustomizations }}

  <!-- /OKENDO -->

  {% include "loyaltylion" %}
</head>

{% assign templateSuffix = template.suffix  %}
{% if templateSuffix == blank  %}
{% assign templateSuffix = "standard" %}
{% endif %}
{% if template.name | handle == 'product' %}
 <!-- product template -->
  {% assign productDataTags = product.tags | join : '", "' %}

{% endif %}

<body id="siteBody" class=" styles-2021 no-js template-{{ template | handle }}" data-template="{{ template.name | handle }}" data-product-tags='["{{productDataTags}}"]' data-template-type="{{ templateSuffix | replace : ' ', '_' | replace : '-', '_'}}">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N4VXGT9"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div style="display: none;">
  {% include "defs.svg" %}
</div>

{% include "ac-cart-drawer" %}
<div id="page" class="l-site">
  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

    {% section 'header' %}

  <div id="searchFormMain" class="l-site__site-search-form" data-state="off" data-container="siteSearch" >
    {% include 'ac-site-search-form' %}
  </div><!-- site-controls__search -->

  <main class="l-site__main" role="main" id="MainContent">
    <div class="l-main{{ modClass }}">
    {{ content_for_layout }}
    </div>
  </main>
  {% include 'ac-header-script-tags' %}
  {% section 'footer' %}
  {% include 'ac-timberjs' %}
</div>







<!-- ac-remodal -->
{% render 'ac-remodal' %}

</body>
</html>
